<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/aboutus.css') }}"
    />
    <title>PixelPalace.</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/home" class="logo">PixelPalace.</a>

        <div class="options">
          <a href="{{ url_for('ourTeam') }}">Our Team</a>
        </div>
      </nav>
    </header>
    <section class="home">
      <div class="home-content">
        <h1>
            About Us
        </h1>
        <p>
          About PixelPalace: Hey there! I'm thrilled to introduce you to
          PixelPalace, an amazing web app that we, a group of enthusiastic
          students, created as part of our second-year Computer Science and
          Engineering curriculum. PixelPalace was born out of our shared passion
          for photography and our desire to create a platform where we could
          showcase our creativity and connect with fellow photography
          enthusiasts. As students, we were eager to explore our skills and push
          the boundaries of what we could achieve. With PixelPalace, our primary
          goal was to provide a user-friendly and visually immersive image
          gallery experience. We wanted to offer a space where you can not only
          exhibit your stunning photo collections but also find inspiration and
          connect with like-minded individuals. As budding technologists, we
          were determined to develop a web app that combines the beauty of
          design with the power of code. Through countless hours of
          brainstorming, coding, and testing, we aimed to create a platform that
          celebrates the art of photography and encourages self-expression.
          PixelPalace is more than just a minor project for us; it's a labor of
          love and a testament to our dedication and passion. We poured our
          hearts into designing an intuitive interface, optimizing the
          performance, and ensuring a seamless user experience. We invite you to
          join us at PixelPalace and embark on a journey of visual storytelling.
          Share your captivating moments, discover incredible photography, and
          connect with a community of fellow photographers who share your
          enthusiasm. We are immensely proud of what we've achieved, and we
          can't wait for you to experience PixelPalace firsthand. Get ready to
          showcase your talent, explore the world of photography, and be a part
          of our exciting journey as we continue to evolve and enhance this
          platform. Welcome to PixelPalace – where creativity meets technology,
          and your photographic dreams come to life!
        </p>
      </div>
    </section>
  </body>
</html>
